<%= render Vitrail::Card.new(class: level_background) do %>
  <div class="vt-notice--container">
    <div class="vt-notice--icon-container">
      <i class="<%= level_icon %>"></i>
    </div>
    <div class="vt-notice--title-container">
      <h4 class="vt-notice--title">
        <%= title %>
      </h4>
      <div class="vt-notice--content-container">
        <%= content %>
      </div>
    </div>
  </div>
<% end %>
