<div class="vt-table--container">
  <table class="vt-table">
    <thead class="vt-table--head">
      <tr>
        <% headers.each do |header| %>
          <%= header %>
        <% end %>
      </tr>
    <tbody class="vt-table--body">
      <% rows.each do |row| %>
        <%= row %>
      <% end %>
    </tbody>
  </table>
</div>
